/* Carousel */
#carousel-main {
  min-height: 350px;
}

#carousel-main .carousel-indicators {
  position: absolute;
  left: 0;
  // z-index: 100;
}

.carousel-inner,
.carousel-item {
  height: calc(100vh - var(--navbar-hight));
}

.carousel-item {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fade-overlay {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 0;
  height: 100%;
}
.fade-overlay::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 25vh;
  background-color: black;

  -webkit-mask-image: linear-gradient(to top, transparent 6%, white 100%);
  mask-image: linear-gradient(to top, transparent 6%, white 100%);
}
.fade-overlay::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 25vh;
  background-color: black;

  -webkit-mask-image: linear-gradient(to bottom, transparent 6%, white 100%);
  mask-image: linear-gradient(to top, transparent 6%, white 100%);
}

/* CAROUSEL FILM DETAILS */
.carousel-caption {
  padding: 0 2rem;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
.carousel-caption-overview {
  font-size: 1.3rem;
}

.film-details {
  position: absolute;
  width: 40%;
  left: 2%;
  bottom: 2%;
  z-index: 2;
}

/* Marquee */
.marquee {
  min-width: 320px;
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: absolute;
  bottom: 2%;
  right: 0;
  z-index: 1;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, green 30%);
  mask-image: linear-gradient(to top, transparent 6%, green 30%);
}
/* .marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: '';
  z-index: 1;
} */
/* .marquee:before {
  left: 0;
  background: linear-gradient(to right, #000 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #000 0%, transparent 100%);
} */

.marquee-content {
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% { transform: translateX(0vw); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
  /* border: 3px solid teal; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--marquee-element-width);
  flex-shrink: 0;
  /* font-size: calc(var(--marquee-height) * 2/3); */
  white-space: nowrap;
}

.card-dummy {
  height: 90%;
  margin: 0;
  padding: 0;
}
.card-dummy img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 100%;
}
.card-dummy img:hover {
  cursor: pointer;
}

/* #search-container-main {
  border-radius: 50px;
  border: 2px solid var(--text-primary);
  max-width: 600px;
  width: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#search-container-main .search-input:focus {
  border: 2px solid var(--bg-secondary);
} */
/* end carousel */


/* Main Section */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* -webkit-backface-visibility: hidden; */
}

.section-title {
  width: 100%;
  margin: 2rem 1.5rem;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 6rem;
  color: #ccc;
  white-space: nowrap;
}
.section-title:after {
  position: absolute;
  content: '';
  display: block;
  width: 50%;
  top: 7.4rem;
  margin-left: 18rem;
  border-bottom: 1px solid rgba(153, 105, 105, 0.7);
}
.section-backlogo {
  font-size: 15rem;
  position: absolute;
  top: -0.5rem;
  left: -13rem;
  color: rgba(150, 150, 150, 0.03);

}

.movie {
  background-color: var(--bg-secondary);
  border-radius: 8px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.img-container{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;
}

.img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: all var(--transition-speed) ease-in-out;
}
.movie:hover {
  cursor: pointer;
}
.movie:hover .img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.pipe {
  font-weight: 100;
}
.overview span.green {
  color: rgba(55, 201, 55, 0.781);  
}
.overview span.orange {
  color: rgb(226, 171, 70);
}
.overview span.red {
  color: rgb(241, 83, 83);
}
.hide {
  display: none;
}

.movie-info {
  height: 4rem;
  margin: 0;
  padding-top: 0;
  transition: all var(--transition-speed) ease-in;
}

/* .movie:hover .movie-info { */
.movie-info-active {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-150px);
}

/* 
.overview {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-secondary);
  letter-spacing: 1px;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateY(450px);
  transition: all var(--transition-speed) ease-in;
} */
.overview-header {
  padding: 0 0.5rem;
  align-items: start;
}
.overview-header h3 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  line-height: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 290px;
}
.overview-header__stats {
  font-size: .9rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.burger{
  border: 1px solid yellow;
  cursor: pointer;
  position: absolute;
  left: 42%;
  bottom: 2px;
  z-index: 4;
  /* transform: translateY(110%); */
  /* transition: transform 0.2s ease-in; */
}
.burger div{
  width: 20px;
  height: 2px;
  background-color: var(--text-primary);
  margin: 2px;
  transition: all 0.3s ease;
}

/* .movie:hover .overview {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.75); 
} */


.burger:hover {
  background-color: coral;
}

/* .movie:hover .burger {
  transform: translateY(0);
} */
/* .burger:hover .overview {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.75);
} */

.play-screen {
  position: relative;
  border: 1px solid green;
  height: calc(100vh - var(--navbar-hight));
  width: 100%;
}

.bg-image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
  opacity: 3%;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 100%);
  mask-image: linear-gradient(to top, transparent 6%, black 100%);
}

.page-play-movie {
  margin: 0 auto;
  max-width: 1200px;
}

.poster-container {
  max-width: 300px;
}

.page-play-poster {
  width: 100%;
}

.page-film-stats_rating h2, h4 {
  display: inline;
}

/* WATCH MOVIE PAGE */
.watch-movie {
  padding-top: 2rem;
  padding-bottom: 8rem;
  position: relative;
  /* z-index: -1; */
}
.watch-movie-bg {
  background-color: #19272e;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.watch-movie-bg-decor {
  font-family: 'Open Sans', sans-serif;
  font-size: 30rem;
  font-weight: 700;
  position: absolute;
  top: -15rem;
  left: -20vw;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 1%;
}

.suggest-movie {
  background-color: #1c212e;
}

.row {
  padding: 0;
}

.padding-0 {
  padding: 0;
}

.movie-glance {
  display: flex;
}

.film-page_poster img {
  width: 100%;
  max-width: 12rem;
}

.movie-info-container {
  margin-left: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.film-page_title {
  font-size: 1.9rem;
  font-weight: bold;
}

.film-page_title-stats span{
  font-size: 0.98rem;
  margin-right: .5rem;
}

.film-page_rating {

}

.rating-star {
  font-size: 2rem;
}

.rating-score {
  font-size: 1.9rem;
  font-weight: bold;
  display: inline;
}

.reviews {
  font-size: 0.9rem;
  display: inline;
  margin-left: 1.2rem;
}

.film-page_genre {
  font-size: .9rem;
}

.movie-sources {
  margin-top: .5rem;
}

.play-button-group {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
 }

.play-button-group li {
  margin-right: 1px;
}

.wm-btn {
  font-size: .8rem;
  border-radius: 0;
  white-space: nowrap;
}

.movie-description {
  font-size: 1rem;
  padding-top: 1rem;
}

.iframe-container {
  margin-top: .5rem;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 42.8571%;   /* 21:9 */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}








/* 
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: background-color var(--transition-speed) ease-in;
}

.movie:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
} */


/* #reel {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  z-index: 1;
  overflow: hidden;
  height: 250px;
}

.dummy-box {
  height: 250px;
  width: 150px;
  background-color: #888;
  border-radius: 1rem;
  box-shadow: 4px 3px 12px 2px rgba(0, 0, 0, 0.75);
  transition: .2s;
  display: inline-block;
}
.dummy-box:not(:first-child) {
  margin-left: -4rem;
}
.dummy-box:hover {
  transform: translateY(-1rem);
}
.dummy-box:hover ~ .dummy-box,
.dummy-box:focus-within ~ .dummy-box {
  transform: translateX(4rem);
  background: red;
} */