/* Purple Theme */
$pt-primary-color: #ececec;
$pt-secondary-color: #b6b6b6;
$pt-primary-bgcolor: #22254b;
$pt-secondary-bgcolor: #373b69;

/* Dark Theme */
$dt-primary-color: #ececec;
$dt-secondary-color: #b6b6b6;
$dt-primary-bgcolor: #22254b;
$dt-secondary-bgcolor: #373b69;

/* Light Theme */
$lt-primary-color: #1b1b1b;
$lt-secondary-color: #555555;
$lt-primary-bgcolor: #ffffff;
$lt-secondary-bgcolor: #d3d3d3;

/* Errors */
$error: #be0202;